
<nav  class="navbar navbar-light bg-primary">
  <div class="container-fluid">
      <h1 style="color:aliceblue">ASPIRE</h1>
      <div class="d-flex">
          <button routerLink="/employee-list" class="btn btn-secondary mx-3">Back</button>
          <!-- <button type="button" routerLink="/add-employee" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button> -->
          <button routerLink="/login" class="btn btn-danger mx-3">LogOut</button>
      </div>
  </div>
</nav>
<div class="row justify-content-center mt-5">
  <div>
      <form [formGroup]="viewForm" (ngSubmit)="onView()">
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">First Name</label>
              <input type="text" [readonly]="true" formControlName="firstName" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Last Name</label>
              <input type="text" [readonly]="true" formControlName="lastName" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Email</label>
              <input type="email" [readonly]="true" formControlName="email" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="text" [readonly]="true" formControlName="mobile" class="form-control" id="exampleInputPassword1">
        </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Salary</label>
              <input type="text" [readonly]="true" formControlName="salary" class="form-control" id="exampleInputPassword1">
          </div>
      </form>
  </div>
</div>

