
.card {
    border: 2px solid black;
    width : 500px;
    padding: 30px;
    position: absolute;
    top : 55%;
    left : 50%;
    transform: translate(-50%, -50%);
}
.navbar {
  background: hsla(205, 46%,30%,1);
  background: linear-gradient(90deg, hsla(205, 46%,30%,1) 0%, hsla(260, 29%,36%,1))
}

h1 {
  margin: 10px;
}

.card h2,
h6{
    color: black;
    margin: 30px;
}

label {
    color: black;
}
