<!-- <app-emoployee-dashboard></app-emoployee-dashboard> -->
<!--
<nav  class="navbar navbar-light bg-primary">
  <div class="container-fluid">
      <h1 style="color:aliceblue">Angular CRUD</h1>
      <div class="d-flex">
          <button type="button" routerLink="/add-employee" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>
          <button routerLink="/login" class="btn btn-danger mx-3">LogOut</button>
      </div>
  </div>
</nav> -->

<router-outlet></router-outlet>
