<!-- navbar -->
<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
      <h1 style="color:aliceblue">ASPIRE</h1>
      <div class="d-flex">
          <button routerLink="/login" class="btn btn-danger mx-3">LogOut</button>
      </div>
  </div>
</nav>


<div class="row justify-content-center mt-5">
  <div>
    <form [formGroup]="formvalve" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <div class="form-group">
          <label for="exampleInputEmail1">First Name</label>
          <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter first name">
        </div>
      </div>
      <div class="mb-3">
        <div class="form-group">
          <label for="exampleInputPassword1">Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1" placeholder="Enter last name">
        </div>
      </div>
      <div class="mb-3">
        <div class="form-group">
          <label for="exampleInputPassword1">Email Id</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1" placeholder="Enter email id">
        </div>
      </div>
      <div class="mb-3">
        <div class="form-group">
          <label for="exampleInputPassword1">Mobile No</label>
          <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1" placeholder="Enter moblie no">
        </div>
      </div>
      <div class="mb-3">
        <div class="form-group">
          <label for="exampleInputPassword1">Salary</label>
          <input type="text" formControlName="salary" class="form-control" id="exampleInputPassword1" placeholder="Enter Salary">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" id="close" routerLink="/employee-list" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button   type="submit" class="btn btn-primary">Update</button> -->
        <button  type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>
