<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
      <h1 style="color:aliceblue">ASPIRE</h1>
      <div class="d-flex">
          <button class="btn btn-secondary mx-3" routerLink="/signup">SignUp</button>
          <button class="btn btn-secondary mx-3" routerLink="/login">Login</button>
          <button type="button" (click)="clickAddEmpoye()" routerLink="/add-employee" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>
          <button routerLink="/login" class="btn btn-danger mx-3">LogOut</button>
      </div>
  </div>
</nav>
<!-- table -->
<!-- <div class="container">
  <h2 class="h2">All Employees List</h2>

  <nav class="navbar">
  </nav>
  <table class="table table-bordered">
      <thead>
          <tr>
              <th class="text-center"><span class="mr-3 d-inline-block">Employee id</span>
              </th>
              <th class="text-center"><span class="mr-3 d-inline-block">First Name</span>
              </th>
              <th class="text-center"><span class="mr-3 d-inline-block">Last Name</span>
              </th>
              <th class="text-center"><span class="mr-3 d-inline-block">Email</span>
              </th>
              <th class="text-center"><span class="mr-3 d-inline-block">Salary</span>
              </th>
              <th class="text-center"><span class="mr-3 d-inline-block">Action</span> </th>
          </tr>
      </thead>
      <tbody>
          <tr tr *ngFor="let a of EmployeeData | paginate :{ id : 'listing_pagination',
          itemsPerPage : 5,
          currentPage : page,
          totalItems : totalRecords
        } ; let i = index">
              <td scope="row" class="text-center">{{a._id}}</td>
              <td scope="row" class="text-center">{{a.firstName}}</td>
              <td scope="row" class="text-center">{{a.lastName}}</td>
              <td scope="row" class="text-center">{{a.email}}</td>
              <td scope="row" class="text-center">{{a.salary}}</td>
              <td scope="row" class="text-center">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" [routerLink]="['/edit-employee',a._id]" class="btn btn-info">Edit</button>
                <button  (click)="delete(a._id,i)" class="btn btn-danger mx-3">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>

  <div class="modal-footer">
    <pagination-controls id="listing_pagination" [maxSize]="5" [directionLinks]="true" (pageChange)="page = $event"></pagination-controls>
  </div> -->


<table class="table table-bordered">
  <thead>
      <tr>
          <th class="text-center"><span class="mr-3 d-inline-block">Employee id</span></th>
          <th class="text-center"><span class="mr-3 d-inline-block">First Name</span></th>
          <th class="text-center"><span class="mr-3 d-inline-block">Last Name</span></th>
          <th class="text-center"><span class="mr-3 d-inline-block">Email</span></th>
          <th class="text-center"><span class="mr-3 d-inline-block">Mobile</span></th>
          <th class="text-center"><span class="mr-3 d-inline-block">Salary</span></th>
          <th class="text-center"><span class="mr-3 d-inline-block">Action</span></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let a of EmployeeData | paginate :{ id : 'listing_pagination',
      itemsPerPage : 5,
      currentPage : page,
      totalItems : totalRecords
    } ; let i = index" >
          <td scope="row" class="text-center">{{a._id}}</td>
          <td scope="row" class="text-center">{{a.firstName}}</td>
          <td scope="row" class="text-center">{{a.lastName}}</td>
          <td scope="row" class="text-center">{{a.email}}</td>
          <td scope="row" class="text-center">{{a.mobile}}</td>
          <td scope="row" class="text-center">{{a.salary}}</td>
          <td scope="row" class="text-center">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" [routerLink]="['/edit-employee',a._id]" class="btn btn-info">Edit</button>
              <button  (click)="delete(a._id,i)" class="btn btn-danger mx-3">Delete</button>
          </td>
      </tr>
  </tbody>
</table>
<div class="pagestyle">
  <pagination-controls id="listing_pagination" [maxSize]="5" [directionLinks]="true" (pageChange)="page = $event"></pagination-controls>
</div>
