:root{
  background-color: aquamarine;
}
.table{
  border: 1rem;
  margin: 20px;
  padding: 10px;
}
.pagestyle{
  justify-content: end;
  align-items: flex-end;
  color: blue;
  margin-left: 1200px;
}

.navbar {
  background: hsla(205, 46%,30%,1);
  background: linear-gradient(90deg, hsla(205, 46%,30%,1) 0%, hsla(260, 29%,36%,1))
}

h1 {
  margin: 10px;
}



