
<nav  class="navbar navbar-light bg-primary">
  <div class="container-fluid">
      <h1 style="color:aliceblue">Angular CRUD</h1>
      <div class="d-flex">
          <!-- <button type="button" routerLink="/add-employee" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button> -->
          <button routerLink="/login" class="btn btn-danger mx-3">LogOut</button>
      </div>
  </div>
</nav>
<div class="row justify-content-center mt-3">
  <div class="col-md-5">
      <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">First Name</label>
              <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Last Name</label>
              <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Email</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1">
        </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Salary</label>
              <input type="text" formControlName="salary" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary btn-block" type="submit">Update Employee</button>
              <button type="button" id="close" routerLink="/employee-list" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </form>

  </div>

</div>
